USE [CMCS_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/21/2025 12:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 11/21/2025 12:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[LecturerId] [int] NOT NULL,
	[LecturerName] [nvarchar](100) NOT NULL,
	[LecturerEmail] [nvarchar](max) NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[HoursWorked] [decimal](18, 2) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[SubmittedDate] [datetime2](7) NOT NULL,
	[ReviewedDate] [datetime2](7) NULL,
	[ReviewerComments] [nvarchar](500) NULL,
	[IsCoordinatorApproved] [bit] NOT NULL,
	[IsManagerApproved] [bit] NOT NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 11/21/2025 12:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[LecturerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DefaultHourlyRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Lecturers] PRIMARY KEY CLUSTERED 
(
	[LecturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportingDocuments]    Script Date: 11/21/2025 12:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportingDocuments](
	[SupportingDocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[UploadedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SupportingDocuments] PRIMARY KEY CLUSTERED 
(
	[SupportingDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251120002216_InitialCreate', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251120013425_AddSupportingDocuments', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251120191317_AddCoordinatorManagerFlags', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([ClaimId], [LecturerId], [LecturerName], [LecturerEmail], [Month], [Year], [HoursWorked], [HourlyRate], [TotalAmount], [Status], [SubmittedDate], [ReviewedDate], [ReviewerComments], [IsCoordinatorApproved], [IsManagerApproved]) VALUES (1, 0, N'Keeran Perumal', N'Keeran@gmail.com', 1, 2025, CAST(10.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), N'Rejected', CAST(N'2025-11-20T02:32:58.6919926' AS DateTime2), CAST(N'2025-11-20T03:01:54.8398421' AS DateTime2), N'10 hours @ rate of R50/h', 0, 0)
INSERT [dbo].[Claims] ([ClaimId], [LecturerId], [LecturerName], [LecturerEmail], [Month], [Year], [HoursWorked], [HourlyRate], [TotalAmount], [Status], [SubmittedDate], [ReviewedDate], [ReviewerComments], [IsCoordinatorApproved], [IsManagerApproved]) VALUES (2, 0, N'mark Perumal', N'Mark@gmail.com', 2, 2025, CAST(15.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), N'Rejected', CAST(N'2025-11-20T03:01:28.1203953' AS DateTime2), CAST(N'2025-11-20T21:16:51.9134074' AS DateTime2), N'15 hours at R100/h', 1, 0)
INSERT [dbo].[Claims] ([ClaimId], [LecturerId], [LecturerName], [LecturerEmail], [Month], [Year], [HoursWorked], [HourlyRate], [TotalAmount], [Status], [SubmittedDate], [ReviewedDate], [ReviewerComments], [IsCoordinatorApproved], [IsManagerApproved]) VALUES (3, 0, N'Vinny Perumal', N'Vinny@gmail.com', 3, 2025, CAST(20.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), N'Rejected', CAST(N'2025-11-20T03:44:32.2814119' AS DateTime2), CAST(N'2025-11-20T21:15:52.0002063' AS DateTime2), N'20 hours @ a rate of R200/h', 0, 0)
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportingDocuments] ON 

INSERT [dbo].[SupportingDocuments] ([SupportingDocumentId], [ClaimId], [FileName], [FilePath], [ContentType], [UploadedOn]) VALUES (1, 3, N'example pic (1).pdf', N'/uploads/8ea964a9-7382-45d2-83b3-b19678327433.pdf', N'application/pdf', CAST(N'2025-11-20T03:44:33.5942100' AS DateTime2))
INSERT [dbo].[SupportingDocuments] ([SupportingDocumentId], [ClaimId], [FileName], [FilePath], [ContentType], [UploadedOn]) VALUES (2, 4, N'example pic (1).pdf', N'/uploads/f1e86e8d-5b6c-4412-a677-fa91e53032fe.pdf', N'application/pdf', CAST(N'2025-11-20T03:46:16.1396306' AS DateTime2))
INSERT [dbo].[SupportingDocuments] ([SupportingDocumentId], [ClaimId], [FileName], [FilePath], [ContentType], [UploadedOn]) VALUES (3, 6, N'example pic (1).pdf', N'/uploads/9bc34140-e25f-4dd7-8c08-7f0ac8fbdcfc.pdf', N'application/pdf', CAST(N'2025-11-20T20:40:35.7031460' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SupportingDocuments] OFF
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCoordinatorApproved]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsManagerApproved]
GO
ALTER TABLE [dbo].[SupportingDocuments]  WITH CHECK ADD  CONSTRAINT [FK_SupportingDocuments_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([ClaimId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportingDocuments] CHECK CONSTRAINT [FK_SupportingDocuments_Claims_ClaimId]
GO
